.allDiv {
  width: 100%;
}

.loading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: bold;
}

@media (min-width: 1000px) {
  .allDiv {
    display: flex;
    justify-content: center;
  }
}
