.all {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 23;
  background-color: #efefef;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 22em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  max-width: 25em;
  animation-name: entering;
  animation-duration: 500ms;
}
.all button:hover {
  cursor: pointer;
}
@keyframes entering {
  from {
    translate: 0 3em;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.head {
  display: flex;
  flex-direction: row;
  height: 2.5em;
  border-bottom: 1px solid grey;
  width: 100%;
  align-items: center;
  justify-content: inherit;
  position: relative;
}

.arrow {
  font-size: 1.4em;
  padding-left: 1em;
  position: absolute;
  left: 1em;
}
.head h4 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.pic {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding-left: 1.5em;
  padding-top: 1em;
}

.pic div h5 {
  margin: 0em;
}

.pic button {
  background-color: #efefef;
  color: #4cb5f9;
  border: none;
  padding-left: 0em;
  font-weight: bold;
}

.pic button:hover {
  cursor: pointer;
}

.pic img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}
.info {
  width: 100%;
}

.info form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}

.info form textarea {
  width: 80%;
  height: 4em;
  border-radius: 5px;
  padding: 0.5em;
}

.info form input {
  width: 80%;
  border-radius: 5px;
  padding: 0.5em;
  border: none;
}

.info form h5 {
  margin: 0;
  margin-bottom: 0.8em;
  margin-top: 1em;
}

.info form button {
  width: 7em;
  margin-top: 1em;
  height: 2em;
  background-color: #4cb5f9;
  color: #efefef;
  border: none;
  border-radius: 10px;
}
