.li {
  width: 100%;
  max-width: 40em;
  list-style: none;
  border-bottom: 1px solid gray;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.li > img {
  width: 100%;
  height: 20em;
}

/* Creator of the post */
.creator {
  display: flex;
  height: 2em;
  align-items: center;
  gap: 0.5em;
  padding: 0.4em;
}
.creator > img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.creator span {
  color: gray;
}

/* Bellow post */
.bellow {
  width: 100%;
  height: 1.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
}

.bellow div {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  gap: 1em;
}

.bellow:last-child {
  margin-right: 4em;
}

/* liked */
.liked {
  width: auto !important;
  font-weight: 300;
  padding: 0.8em;
  margin-top: -0.2em;
  margin-bottom: -0.2em;
}

.desDiv {
  display: flex;
  flex-direction: column;
}

.desc {
  padding-left: 0.8em;
}

/* comments */
.comments {
  padding-left: 0.8em;
  color: gray;
  padding-top: 0.5em;
  top: 2em;
}

.comments:hover,
.liked:hover,
.bellow div *:hover,
.li h5:hover,
.li img:hover,
.flag:hover {
  cursor: pointer;
}

@media (min-width: 800px) {
  .li {
    font-size: 1.2em;
    margin-top: -2em;
  }

  .li > img {
    height: 25em;
  }
}
