.list {
  padding-top: 4em;
  border-bottom: none !important;
}

.all {
  display: flex;
  justify-content: space-evenly;
}

.loading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: bold;
}
