@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
.div {
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.div form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.div h2 {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
}

.div form input {
  width: 18em;
  padding-left: 1em;
  outline-color: gray;
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid gray;
  height: 2.5em;
}

.div form p {
  font-size: 0.8em;
  color: red;
  width: 90%;
  line-height: 1.4em;
  margin-bottom: 1em;
  text-align: center;
}

.div form button {
  background-color: #4cb5f9;
  color: #f9fdff;
  border: none;
  width: 19.3em;
  height: 2.5em;
  border-radius: 10px;
}

/* the sing up button */
.div div {
  display: flex;
  margin-top: 4em;
}

.div div p {
  color: gray;
}

.div div button {
  background-color: #ffff;
  border: none;
  color: #4cb5f9;
  font-weight: bold;
  font-size: 1.1em;
}
